body{
    background-color: blue;
    color: antiquewhite;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 0%;
    margin: 0px;
    height: 1000px;
    overflow-y: hidden;
}
p{
    margin: 18px;
}
button{
    cursor: pointer;
}

.Cookiebtn{
    background-color:transparent;
    border-radius: 999999px;
    border: none;
    height: 300px;
    width: 300px;
    transition: all .2s;
    background-image: url("cookieImage.png");
    background-size: 180%;
    background-position: center;
}
.Cookiebtn:hover{
    height: 320px;
    width: 320px;
    background-color: black;
}
.Cookiebtn:active{
    height: 310px;
    width: 310px;
    transition: none;
}
.Counter{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color:gold;
    display: flex;
    justify-content: center;
}
.Bigdiv{
    display:flex;
    flex-direction: row;
    justify-content:center;
    height: 100%;
    
}
.leftside{

}
.Bigdiv div{
    width: 33%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;}

.middle{
    text-align: center;
    border-width: 0px;
    border-right-width: 20px ;
    border-color: black;
    border-style: solid;
    border-left-width: 20px;
    padding: 6px;
}
.rightSide{
    text-align: center;


}
.name{
    display:flex;
    justify-content: center;
}

/*Right Side options*/
.rightSideOptionsbtn{
    border-radius: 20px;
    height: 50px;
    background-color:antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:background-color .7s, height .2s;
}
.rightSideOptionsbtn:hover{
 height: 60px; 
 background-color: bisque;  
 transition:all .2s;
}
.rightSideOptionsbtn:active{
    height: 55px;
}
.middle div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:green;
    width: 100%;
    
}